click
flask
gunicorn
itsdangerous
jinja2
markupsafe
marshmallow
marshmallow-enum
mypy-extensions
numpy
packaging
pandas
psycopg2-binary
python-dateutil
pytz
six
typing-extensions
typing-inspect
werkzeug
scikit-learn
scipy